.profile__edit-button {
    background-image: url(../../../image/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    border: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width:580px) {
    .profile__edit-button   {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}