.form__save {
    min-width: 358px;
    min-height: 50px;
    background-color: #000;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    transition: 0.5s;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

@media screen and (max-width:580px) {
    .form__save  {
        min-width: 238px;
    }
}

.form__save:hover {
    opacity: 0.8;
}