.pop-up__close {
    background-image: url(../../../image/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: none;
    position: absolute;
    left: 438px;
    bottom: 352px;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width:580px) {
    .pop-up__close  {
        width: 20px;
        height: 20px;
        left: 262px;
        bottom: 352px;
    }
}

.pop-up__close:hover {
    opacity: 0.6;
}