.profile__avatar {
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 75%;
    margin: 0 30px 0 0;
}

@media screen and (max-width:580px) {
    .profile__avatar  {
        margin: 0 auto;
    }
}