.form__information {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 30px;
    min-width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
}

.form__information:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width:580px) {
    .form__information  {
        min-width: 238px;
        padding-bottom: 9px;
    }
}

@media screen and (max-width:580px) {
    .form__information:last-of-type  {
        margin-bottom: 45px;
    }
}
