.card__like {
    background-image: url(../../../image/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 22px;
    height: 19px;
    box-sizing: border-box;
    border: none;
    transition: 0.5s;
}

.card__like:hover {
    opacity: 0.5;
}